@import "tailwindcss";

@theme {
  --color-nexus-bg: var(--bg-deep);
  --color-nexus-panel: var(--glass);
  --color-nexus-border: var(--glass-border);
  --color-nexus-gold: var(--accent-gold);
  --color-nexus-accent: var(--accent);
  --color-nexus-text: var(--text-main);
  --color-nexus-text-dim: var(--text-dim);

  --font-inter: "Inter", sans-serif;
}

body {
  background-color: var(--color-nexus-bg);
  color: var(--color-nexus-text);
  font-family: var(--font-inter);
}
